h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-me {
  margin-bottom: 40px;
  ul {
    list-style: none;
  }
  li {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    span {
      min-width: 220px;
      display: block;
      font-weight: 400;
      font-weight: 700;
    }
    span + span {
      font-weight: 400;
    }
  }
}
.my_photo {
  text-align: center;
  img {
    max-width: 250px;
  }
}
.socials {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 20px;
    display: flex;
    align-items: center;

    &:hover {
      svg {
        fill: lightblue;
        path {
          fill: lightblue;
        }
        #flh {
          fill: rgb(66, 172, 207);
        }
      }
      p {
        color: lightblue;
      }
    }
    p {
      padding-left: 10px;
      transition: 0.3s;
    }
    svg {
      max-width: 50px;
      transition: 0.3s;
    }
  }
}
